.o_retention_dashboard {
    flex: 1 0 100%;
    padding: 10px 10px 18px 10px;

    background-color: $o-view-background-color;
    position: relative;
    max-width:100%;

    .row {
        margin-right: 0;
        margin-left: 0;
    }

    .o_dashboard_action {
        cursor: pointer; 
    }
    
    .table {
        margin-bottom: 0;
        table-layout: fixed;
        border-spacing: 10px 0px;
        border-collapse: separate;
        font-size: 13px;

        > thead, tbody {
            & > tr > td {
                text-align: center;
                width: 25%;
                height: 33px;
                vertical-align: middle;
                border-top: 1px solid $o-view-background-color;
                background-color: $o-brand-lightsecondary;
                
                &.o_text{
                    background-color: $o-view-background-color;
                }

                > a:hover {
                    text-decoration: none;
                }

                &.o_main {
                    background-color: $o-brand-primary;
                    &:hover {
                        background-color: darken($o-brand-primary, 10%);
                    }
                    > a {
                        color: white;
                    }
                }
                
                &.o_main_ll {
                    background-color: #8BD4DB;
                    &:hover {
                        background-color: darken(#8BD4DB, 10%);
                    }
                    > a {
                        color: white;
                    }
                }

                &.o_main_lm {
                    background-color: #C5EDEC;
                    &:hover {
                        background-color: darken(#C5EDEC, 10%);
                    }
                    > a {
                        color: white;
                    }
                }

                &.o_main_lh {
                    background-color: #FFEBED;
                    &:hover {
                        background-color: darken(#FFEBED, 10%);
                    }
                    > a {
                        color: white;
                    }
                }  
                &.o_main_ml {
                    background-color: #C5EDEC;
                    &:hover {
                        background-color: darken(#C5EDEC, 10%);
                    }
                    > a {
                        color: white;
                    }
                }
                &.o_main_mm {
                    background-color: #FFEBED;
                    &:hover {
                        background-color: darken(#FFEBED, 10%);
                    }
                    > a {
                        color: white;
                    }
                }
                &.o_main_mh {
                    background-color: #FFD0D4;
                    &:hover {
                        background-color: darken(#FFD0D4, 10%);
                    }
                    > a {
                        color: white;
                    }
                }
                &.o_main_hl {
                    background-color: #FFEBED;
                    &:hover {
                        background-color: darken(#FFEBED, 10%);
                    }
                    > a {
                        color: white;
                    }
                }
                &.o_main_hm {
                    background-color: #FFD0D4;
                    &:hover {
                        background-color: darken(#FFD0D4, 10%);
                    }
                    > a {
                        color: white;
                    }
                }
                &.o_main_hh {
                    background-color: #FFA1A1;
                    &:hover {
                        background-color: darken(#FFA1A1, 10%);
                    }
                    > a {
                        color: white;
                    }
                }
                
            }
        }
    }
}
