.o_chart_head {
  text-align: center;
}
.o_chart_head img {
  width: 68px;
  border: 3px solid rgb(89, 87, 87);
  // border: 5px solid #757575;
  border-radius: 100%;
}
.o_child_container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 4rem;
}
.o_level_1 img {
  width: 68px;
  border: 3px solid rgb(89, 87, 87);
  border-radius: 100%;
  margin-top: -20px;  
}
.o_level_1 {
  margin-left: 15px;
  margin-right: 15px;
  margin-top: 15px;
  margin-top: 0px;
  min-width: 100px;
}

.empchart table {
  border-spacing: 0;
  border-collapse: separate;
}

.empchart td {
  text-align: center;
  padding: 0;
  vertical-align: top;
}

.empchart .lines:nth-child(3) td {
  height: 50px;
  box-sizing: border-box;
  color : orange;
}

.empchart .lines .leftLine {
  border-left: 1px solid rgb(89, 87, 87);
  float: none;
  border-radius: 0;
}

.empchart .lines .topLine {
  border-top: 2px solid rgb(89, 87, 87);
}

.empchart .lines .downLine {
  background-color: rgb(89, 87, 87);
  float: none;
  margin: 0 auto;
  width: 2px;
  height: 30px;
}

.empchart .lines .rightLine {
  border-right: 1px solid rgb(89, 87, 87);
  float: none;
  border-radius: 0;
}

.employee_name p:nth-child(1) {
    font-weight: 600;
    margin-bottom: -2px;
    margin-top: 7px;
    color: #492A49;
    font-size: 14px;
}
.employee_name p:nth-child(2) {
    font-weight: 600;
    margin-bottom: -2px;
    margin-top: 0px;
    // color: #757575;
}


.employee_name p:nth-child(3) {
    font-weight: 600;
    margin-bottom: -2px;
    margin-top: 0px;
    color: #757575;
    font-size: 12px;
}
.badge-pill {
    
    margin-bottom: -20px;
    
}

#o_organizational_chart .o_org_chart_title.mb16.mt0 {
    // background-color: darkgray;
    background-color: #492A49;
    color: white;
    padding: 17px;
    font-weight: 600;
}