.custom_list_class [data-name="product"]{
width: 450px !important;
max-width: 450px !important;
}

.custom_list_class [data-name="visit_purpose"]{
width: 300px !important;
max-width: 300px !important;
}